name: "My Pipeline"
on:
  push:
    branches: 
      - '**'
permissions:
  actions: read # for detecting the Github Actions environment.
  id-token: write # for creating OIDC tokens for signing.
  packages: write # for uploading attestations.
  contents: read
  security-events: write # Required for uploading code scanning.
  attestations: write
  pages: write
env:
  BUILD_NAME: "spring-petclinic"
  DOCKER_REGISTRY: 'docker.io'
  DOCKER_ORG: 'krishnamanchikalapudi'
  DEFAULT_WORKSPACE: "${{github.workspace}}"  # /home/runner/work/spring-petclinic/spring-petclinic
jobs:
  dockerPackage:
    name: "Docker package"
    runs-on: ubuntu-latest # https://github.com/actions/runner-images
    outputs:
      image_todays_tag: ${{ steps.set_var.outputs.TODAYS_DATE }}
    strategy:
      matrix:
        java: [ '25' ]
    env:
        BUILD_ID: "ga-${{github.run_number}}"
        DOCKER_BUILDX_PLATFORMS: 'linux/amd64,linux/arm64'
        DOCKER_METADATA_JSON: 'build-metadata.json'
    defaults:
       run:
         working-directory: "${{env.DEFAULT_WORKSPACE}}"
    steps:
        - name: "Clone VCS"
          uses: actions/checkout@v5 # ref: https://github.com/actions/checkout
        
        - name: "Setup JDK ${{matrix.java}}"
          uses: actions/setup-java@v4   # ref https://github.com/actions/setup-java
          with:
            distribution: 'temurin'
            java-version: ${{matrix.java}}  # 17
            cache: 'maven'
            cache-dependency-path: 'pom.xml'
        
        - name: "Env vars and info"
          id: set_var
          run: |
            echo "ARTIFACT_NAME=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)" >> $GITHUB_ENV
            echo "ARTIFACT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
            echo "TODAYS_DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
            echo "TODAYS_DATE=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

        - name: "Docker: authentication" 
          id: config-docker
          uses: docker/login-action@v3      # ref https://github.com/marketplace/actions/docker-login
          with:
            registry: ${{ env.DOCKER_REGISTRY }}
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{secrets.DOCKERHUB_PASSWORD }}

        - name: "Docker: Set up QEMU emulation"
          uses: docker/setup-qemu-action@v3

        - name: "Docker: Set up Buildx"
          uses: docker/setup-buildx-action@v3   # ref: https://github.com/marketplace/actions/docker-setup-buildx
          with:
            use: true
            platforms: ${{env.DOCKER_BUILDX_PLATFORMS}}
            # install: true

        - name: "Maven: package"
          run: |
            mvn clean package -DskipTests -Denforcer.skip

        - name: "Evidence: GitHub Attest for JAR artifact"
          continue-on-error: true
          uses: actions/attest-build-provenance@v3     # https://github.com/marketplace/actions/attest-build-provenance
          with:
            subject-path: "target/${{env.ARTIFACT_NAME}}-${{env.ARTIFACT_VERSION}}.jar"
            github-token: ${{secrets.GITHUB_TOKEN}} 
            show-summary: true

        - name: "Optional: list files"
          run: |
            tree .

        - name: "Docker: package and push"
          env:
            JAR_FILE: "./target/${{env.ARTIFACT_NAME}}-${{env.ARTIFACT_VERSION}}.jar"
            TAG10: "${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:${{env.ARTIFACT_VERSION}}"
            TAG11: "${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:${{env.TODAYS_DATE}}" 
            TAG12: "${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:jdk-${{matrix.java}}"
            TAG13: "${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:${{env.BUILD_ID}}"
            TAG14: "${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:latest"
            TAG20: "${{ env.DOCKER_REGISTRY }}/${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:${{env.ARTIFACT_VERSION}}"
            TAG21: "${{ env.DOCKER_REGISTRY }}/${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:jdk-${{matrix.java}}"
            TAG22: "${{ env.DOCKER_REGISTRY }}/${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:${{env.TODAYS_DATE}}"
            TAG23: "${{ env.DOCKER_REGISTRY }}/${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:${{env.BUILD_ID}}"
            TAG24: "${{ env.DOCKER_REGISTRY }}/${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:latest"

          run: |
            docker image build -f ./Dockerfile --build-arg JAR_FILE=${{env.JAR_FILE}} --platform "${{env.DOCKER_BUILDX_PLATFORMS}}" --metadata-file "${{env.DOCKER_METADATA_JSON}}" --push . --attest=type=sbom -t ${{env.TAG10}} -t ${{env.TAG11}} -t ${{env.TAG12}} -t ${{env.TAG13}} -t ${{env.TAG14}} -t ${{env.TAG20}} -t ${{env.TAG21}} -t ${{env.TAG22}} -t ${{env.TAG23}} -t ${{env.TAG24}}

        # - name: "Docker: Build and push"     # ref: https://docs.docker.com/reference/cli/docker/buildx/create/#platform
        #   uses: docker/build-push-action@v6  # https://github.com//docker/build-push-action  
        #   env:
        #     DOCKER_BUILD_SUMMARY: true
        #   with:
        #     build-args: |
        #       JAR_FILE='./target/${{env.ARTIFACT_NAME}}-${{env.ARTIFACT_VERSION}}.jar'
        #     platforms: ${{env.DOCKER_BUILDX_PLATFORMS}}
        #     context: .
        #     file: ./Dockerfile
        #     tags: |
        #         ${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:${{env.ARTIFACT_VERSION}}
        #         ${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:${{env.BUILD_ID}}
        #         ${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:latest
        #         ${{ env.DOCKER_REGISTRY }}/${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}:latest
        #     push: true
        - name: "Docker: image list"
          run: |
            docker image ls

        - name: "Docker: Extract metadata"
          run: |
            cat ${{env.DOCKER_METADATA_JSON}}

            # Extract the container image digest as a raw string (no quotes) in the form sha256:<hex>
            imageDigest=$(jq -r '.["containerimage.digest"]' "${{env.DOCKER_METADATA_JSON}}")
            # Remove any leading/trailing whitespace just in case
            imageDigest=$(echo "${imageDigest}" | tr -d '\r' | xargs)
            echo "DOCKER_DIGEST: ${imageDigest}"
            echo "DOCKER_DIGEST=${imageDigest}" >> $GITHUB_ENV

        - name: "Evidence: GitHub Attest for docker image"
          continue-on-error: true
          uses: actions/attest-build-provenance@v3     # https://github.com/marketplace/actions/attest-build-provenance
          with:
            subject-name: '${{env.DOCKER_REGISTRY}}/${{env.DOCKER_ORG}}/${{env.ARTIFACT_NAME}}'
            subject-digest: '${{ env.DOCKER_DIGEST }}'    # sha256:hex_digest
            github-token: ${{secrets.GITHUB_TOKEN}} 
            push-to-registry: true
            show-summary: true

        - name: "Docker: Summary "
          run: |
            echo "# :ship: Docker: Summary :pushpin:" >> $GITHUB_STEP_SUMMARY
            echo " " >> $GITHUB_STEP_SUMMARY
            echo " " >> $GITHUB_STEP_SUMMARY
            echo " Build on: ${{env.TODAYS_DATE}} " >> $GITHUB_STEP_SUMMARY
            echo " - ubuntu-latest installed with: " >> $GITHUB_STEP_SUMMARY
            echo "    - $(java --version) " >> $GITHUB_STEP_SUMMARY
            echo "    - $(mvn -v) " >> $GITHUB_STEP_SUMMARY
            echo "    - $(docker -v) " >> $GITHUB_STEP_SUMMARY
            echo "    - $(python3 -V) " >> $GITHUB_STEP_SUMMARY
            echo "    - $(pip3 -V) " >> $GITHUB_STEP_SUMMARY
            echo "    - NPM version: $(npm -v) " >> $GITHUB_STEP_SUMMARY
            echo "    - Node version: $(node -v) " >> $GITHUB_STEP_SUMMARY
            echo " - Docker buildx configured with platforms: [${{env.DOCKER_BUILDX_PLATFORMS}}](https://docs.docker.com/reference/cli/docker/buildx/create/#platform) " >> $GITHUB_STEP_SUMMARY
            echo " " >> $GITHUB_STEP_SUMMARY
            echo " - Variables info" >> $GITHUB_STEP_SUMMARY
            echo "    - Build Name: ${{env.BUILD_NAME}} " >> $GITHUB_STEP_SUMMARY
            echo "    - Build ID: ${{env.BUILD_ID}} " >> $GITHUB_STEP_SUMMARY
            echo "    - Artifact Name: ${{env.ARTIFACT_NAME}} " >> $GITHUB_STEP_SUMMARY
            echo "    - Artifact Version: ${{env.ARTIFACT_VERSION}} " >> $GITHUB_STEP_SUMMARY
            echo "    - Docker Path: [https://hub.docker.com/orgs/${{env.DOCKER_ORG}}/repositories](https://hub.docker.com/orgs/${{env.DOCKER_ORG}}/repositories) " >> $GITHUB_STEP_SUMMARY
            echo "    - GitHub Attest:  ${{ env.DOCKER_DIGEST }} " >> $GITHUB_STEP_SUMMARY
            echo " " >> $GITHUB_STEP_SUMMARY

  dockerImageTest:
    name: "Docker image test"
    runs-on: ubuntu-latest
    needs: dockerPackage
    steps:
      - name: "Docker: authentication" 
        id: config-docker
        uses: docker/login-action@v3      # ref https://github.com/marketplace/actions/docker-login
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{secrets.DOCKERHUB_PASSWORD }}

      - name: "Pull LATEST image"
        run: |
          docker pull ${{env.DOCKER_ORG}}/${{env.BUILD_NAME}}:latest

      - name: "Pull ${{needs.dockerPackage.outputs.image_todays_tag}} image"
        continue-on-error: true
        run: |
          docker pull ${{env.DOCKER_ORG}}/${{env.BUILD_NAME}}:${{needs.dockerPackage.outputs.image_todays_tag}}

      - name: "Docker Test: Summary "
        run: |
          echo "# :ship: Docker: Pull Summary :pushpin:" >> $GITHUB_STEP_SUMMARY
          echo " " >> $GITHUB_STEP_SUMMARY
          echo " " >> $GITHUB_STEP_SUMMARY
          echo " Pulled docker" >> $GITHUB_STEP_SUMMARY
          echo " - ${{env.DOCKER_ORG}}/${{env.BUILD_NAME}}:latest " >> $GITHUB_STEP_SUMMARY
          echo " - ${{env.DOCKER_ORG}}/${{env.BUILD_NAME}}:${{needs.dockerPackage.outputs.image_todays_tag}} " >> $GITHUB_STEP_SUMMARY
